[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clusterRepro"]
	path = clusterRepro
	url = https://github.com/cran/clusterRepro
[submodule "pcLasso"]
	path = pcLasso
	url = https://github.com/cran/pcLasso
[submodule "samr"]
	path = samr
	url = https://github.com/cran/samr
[submodule "selectiveInference"]
	path = selectiveInference
	url = https://github.com/cran/selectiveInference
